rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isUserAuthenticated() {
      return request.auth != null;
    }

    function isUserAdmin() {
      return isUserAuthenticated() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isOwner(userId) {
      return isUserAuthenticated() && request.auth.uid == userId;
    }

    // Official documents can be read by their owner or any admin.
    // Only admins can write them.
    match /official_documents/{userId}/{allPaths=**} {
      allow read: if isOwner(userId) || isUserAdmin();
      allow write: if isUserAdmin();
    }
    
    // Avatars can be read by anyone, but only written by the owner or an admin.
    match /avatars/{userId} {
        allow read: if true;
        allow write: if isOwner(userId) || isUserAdmin();
    }
    
    // Logos can be read by anyone, but only written by an admin.
    match /logos/{allPaths=**} {
        allow read: if true;
        allow write: if isUserAdmin();
    }
  }
}
